<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Midas.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Midas.Model.Properties.Settings.bd_MidasConnectionString"
            connectionString="Data Source=DESKTOP-RHJGKEG\SQLEXPRESS;Initial Catalog=bd_Midas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Midas.Model.Properties.Settings>
            <setting name="Configuração" serializeAs="String">
                <value>0</value>
            </setting>
        </Midas.Model.Properties.Settings>
    </userSettings>
</configuration>